<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blend.jetpackstudy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".pre.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.blend.jetpackstudy.pre.databinding.DataBindingMainActivity"></activity>
        <activity android:name=".pre.workmanager.WorkManagerMainActivity" />
        <activity android:name=".pre.room.RoomMainActivity" />
        <activity android:name=".pre.livedata.LiveDataMainActivity" />
        <activity android:name=".pre.viewmodel.ViewModelMainActivity" />
        <activity android:name=".pre.navigation.NavigationMainActivity" />
        <activity android:name=".pre.lifecycle.LifeCycleMainActivity" />
        <activity android:name=".pre.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>